/* --------- Slick Carosel next------------ */

.slick-prev:before {
    color: rgb(16, 133, 35) !important;
    font-size: 60px;
    line-height: 1;
    opacity: .75;
    background-color: #f1f1f2;
}

.slick-next:before {
    color: rgb(16, 133, 35) !important;
    font-size: 60px;
    line-height: 1;
    opacity: .75;
    background-color: #f1f1f2;
}

.slick-prev {
    left: -55px !important;
}


/* --------- Slick Carosel next------------ */


/* ------------- LOADER --------------- */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}


/* ------------- LOADER --------------- */

.dictionary-block {
    padding: 10px 40px;
    /* background: #fff; */
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(43, 89, 228, 0.2);
}

.box {
    background: white;
    overflow: hidden
}

.figure {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.figure img {
    width: 100%;
    transition: .5s
}

.box:hover .figure img {
    transform: scale(0)
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e91e63;
    transform: scale(2);
    opacity: 0;
    transition: .5s
}

.box:hover .caption {
    transform: scale(1);
    opacity: 1
}

.about {
    position: absolute;
    box-sizing: border-box;
    text-align: center
}

.about h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px
}

.about p {
    color: #fff;
    margin: 20px 0 0;
    padding: 0;
    font-size: 16px
}

small {
    color: #fff
}